* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.info {
  color: #faf0e6;
}

.restart {
  width: 200px;
  height: 40px;
  background: #352f44;
  color: #faf0e6;
}
.title {
  color: #faf0e6;
  font-weight: bold;
  font-size: 43px;
  position: absolute;
  top: 10%;
  font-family: "Acme", sans-serif;
  font-family: "Barriecito", cursive;
}
.score {
}
/* FAF0E6 , 5C5470 , B9B4C7 , FAF0E6 */
.container {
  background-color: #352f44;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.main {
  background-color: #352f44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 60%;
  height: auto;
  padding: 20px;
}

.card {
  width: 8rem;
  height: 8rem;
  position: relative;
}
.hard {
  width: 8rem;
  height: 8rem;
  position: relative;
}

.imgFront {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: all 1s ease;
}

.back {
  background-color: #b9b4c7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.rotate {
  transform: rotateY(0deg);
}

.rotateBack {
  transform: rotateY(180deg);
}
.startMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #352f44;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.startBtn {
  background: #faf0e6;
  color: #5c5470;
  font-weight: bold;
  font-size: 1.2rem;
  width: 25rem;
  height: 4rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}

.end {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: #faf0e6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 1s ease;
  flex-direction: column;
  color: #352f44;
  gap: 20px;
}
.end button {
  background: #faf0e6;
  color: #5c5470;
  font-weight: bold;
  font-size: 1.2rem;
  width: 25rem;
  height: 4rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
  position: relative;
  overflow: hidden;
}
.playAgain:hover::after,
.playAgain:hover::before {
  width: 50%;
}

.playAgain::before {
  position: absolute;
  top: 0;
  right: 0;
  text-align: start;

  content: "\00a0 again ";
  background-color: #352f44;
  width: 0%;
  height: 100%;
  transition: width 0.5s;
  color: #faf0e6;
  display: flex;
  align-items: center;
  justify-content: start;
}
.playAgain::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #faf0e6;
  top: 0;
  left: 0;
  content: "Play";
  background-color: #352f44;
  width: 0%;
  height: 100%;
  transition: width 0.5s;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
  }
  /* .card {
    width: 70px;
    height: 70px;
  } */
}
@media (max-width: 700px) {
  .main {
    width: 100%;
  }
  .card {
    width: 90px;
    height: 90px;
  }
}
