* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.info {
  color: #faf0e6;
}

.score {
}
/* FAF0E6 , 5C5470 , B9B4C7 , FAF0E6 */
.container {
  background-color: #352f44;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.main {
  background-color: #352f44;

  box-shadow: 2px 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 40rem;
  min-height: 30rem;
  padding: 20px;
}

.card {
  width: 10rem;
  height: 10rem;
  position: relative;
}
.hard {
  width: 8rem;
  height: 8rem;
  position: relative;
}

.imgFront {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: all 1s ease;
}

.back {
  background-color: #b9b4c7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.rotate {
  transform: rotateY(0deg);
}

.rotateBack {
  transform: rotateY(180deg);
}
.startMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #352f44;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.startBtn {
  background: #faf0e6;
  color: #5c5470;
  font-weight: bold;
  font-size: 1.2rem;
  width: 25rem;
  height: 4rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}

.end {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: #faf0e6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 1s ease;
  flex-direction: column;
  color: #352f44;
  gap: 20px;
}
.end button {
  background: #faf0e6;
  color: #5c5470;
  font-weight: bold;
  font-size: 1.2rem;
  width: 25rem;
  height: 4rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}
